@charset 'utf-8';   

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

.content
{
    min-height: 100vh;    
    min-width: 100%;
    margin: auto;
    background-color: pink;
    padding: 100px 10px 0px 10px
    
    
}

.main
{
    
    max-width: 800px;
    height: 600px;
    margin: auto;
    background: url('alice_expo_21.jpg') center center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    border-radius: 50px;
    padding: 20px;
    
    
}

.bts
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

a

{
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: bold;   
}

.change
{
    max-width: 800px;
    height: 600px;
    margin: auto;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background-image: url('alice_expo_20.jpg');
    background-size: cover;
    background-position: center center;
    
    
}

.txt
{
    font-family: monospace;
    border-right: 4px solid;
    width: 11ch;
    white-space: nowrap;
    overflow: hidden;
    color: white;

    animation: txtA 2s steps(11), blink 0s infinite step-end alternate;
}

@keyframes bgChanged {

    from {
        width: 0px;
        border-radius: 80%;
        transform: rotateY(0) rotate(2090deg);
    }

    

    to {
        width: 100%;
        border-radius: 10px;
        transform: rotateY(-100px) rotate(360deg);
    }
    
}

@keyframes txtA {

    from {
        width: 0;
    }
    
    
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
    
}